<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/commom_product :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <label th:text="${viewProduct.getId()}"></label>
    </div>
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${viewProduct.getName()}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${viewProduct.getPrice()}"></label>
    </div>
    <div class="cusdetail">
        <label>Manufacture:</label>
        <label th:text="${viewProduct.getManufacture()}"></label>
    </div>
</div>
<footer th:replace="/commom_product :: footer"></footer>
</body>
</html>