div{border: solid; border-collapse: collapse;border-color: black;margin-right: 450px;text-indent: 55px}
h1{border-bottom: 2px solid black;margin-right: 200px}
#tieu_de{color: blue;text-decoration: underline}
.doan_1,.doan_2,.doan_3{text-indent: 40px;width: 750px;text-align: justify; margin-left: 15px}